<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #postForm="ngForm" (ngSubmit)="onSavePost(postForm)">
      <!-- Title Input Field -->
      <mat-form-field>
          <input
              matInput
              type="text"
              name="title"
              [(ngModel)]="post.title"  
              required
              minlength="3"
              placeholder="Enter Title Here"
              #title="ngModel">
          <mat-error *ngIf="title.invalid && title.touched">Enter a valid title</mat-error>
      </mat-form-field>


      <!-- Content Textarea -->
      <mat-form-field>
          <textarea
              rows="6"
              matInput
              name="content"
              [(ngModel)]="post.content"  
              required
              placeholder="Content"
              #content="ngModel"></textarea>
          <mat-error *ngIf="content.invalid && content.touched">Content is required</mat-error>
      </mat-form-field>


      <!-- Submit Button -->
      <button mat-raised-button color="primary" type="submit" [disabled]="postForm.invalid">
          {{ mode === 'edit' ? 'Update' : 'Save' }}
      </button>
  </form>
</mat-card>



