
mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  padding: 20px;
}


.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;  
  padding: 20px;
  background-color: grey; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
}


mat-form-field {
  margin-bottom: 16px;  
  width: 100%;  
}

mat-error {
  color: red;  
  font-size: 12px;  
}

button {
  margin-top: 16px;
}

input[type="file"] {
  visibility: hidden;  
}


.image-preview {
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: 10px auto;
  width: 100%;
  max-width: 400px;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f8f8f8;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}


.picker {
  display: flex;
  justify-content: center;
  margin-bottom: 16px; 
}

button[mat-stroked-button] {
  color: white;
  border-color: white;
}


input[matInput], textarea[matInput] {
  color: white; 
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.7); 
}
