<form [formGroup]="form" (submit)="onAddPost()" *ngIf="!isLoading">
    <mat-card>
      <div class="form-container">
        <mat-form-field>
          <input matInput type="text" formControlName="title" placeholder="Enter Title Here">
          <mat-error *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
            This field is required (min 3 characters)
          </mat-error>
        </mat-form-field>
  
        <div class="picker">
          <button mat-stroked-button type="button" (click)="filepicker.click()">Pick Image</button>
          <input type="file" #filepicker>
        </div>
  
        <mat-form-field>
          <textarea matInput rows="6" formControlName="content" placeholder="Enter Content Here"></textarea>
          <mat-error *ngIf="form.get('content')?.invalid && form.get('content')?.touched">
            Content is required
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          {{ mode === 'edit' ? 'Update' : 'Save' }}
        </button>
      </div>
    </mat-card>
  </form>
  