.small-image {
    width: 100px;  
    height: auto;  
    border-radius: 8px;  
    margin: 10px 0;  
    object-fit: cover;  
  }
  
  mat-paginator{  
    margin-top: 1rem;  
  }  

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
  }
  